@page "/fetchdata"
@using BlazorWasmApp.Shared
@*@inject HttpClient Http*@
@inject ISuperHeroApiService SuperHeroApiService;


<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (superHeroes == null)
{
    <p><em>Loading...</em></p>
}
else
{
   
     <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
               
            </tr>
        </thead>
        <tbody>
            @foreach (var hero in superHeroes)
            {
                <tr>
                    <td>@hero.Id</td>
                     <td>@hero.Name</td>
                   
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private WeatherForecast[]? forecasts;
    private List<SuperHero>? superHeroes;

    protected override async Task OnInitializedAsync()
    {
        //forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("WeatherForecast");

        superHeroes = await SuperHeroApiService.GetAllSuperHeros();

    }
}
